<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="text.css">
    <title>Article</title>
</head>
<body>
    <div class="title">
        <h2>Lorem ipsum - Article title here</h2>
    </div>
    
    <div class="author">
        <h5>Someone wrote this </h5>
    </div>

    <div class="text">
        <p>Sample text or bullet point list</p>
        <p>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet turpis vestibulum, placerat lectus 
            vitae, sagittis lacus. Morbi tincidunt bibendum suscipit. Vestibulum et dignissim sem. In hac habitasse platea 
            dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque 
            egestas, orci ut congue molestie, purus turpis hendrerit enim, ac sagittis elit nisl sit amet elit. Integer 
            ut mauris vitae elit ultricies hendrerit. Cras imperdiet, lacus id dignissim aliquet, massa odio viverra purus, 
            eget semper nunc ex ac leo. Praesent ac hendrerit nunc. Donec in suscipit magna. Nunc vitae orci nisl. Cras 
            laoreet mollis ante eu eleifend. In dignissim sapien sit amet egestas gravida. Suspendisse in interdum quam. 
            Ut a odio rhoncus, tristique metus dignissim, gravida tortor.
        </p>
    </div>

    <!-- might need a rework -->
    <div class="date_added">
        <script>document.write(new Date)</script>
    </div>
</body>
</html>