/* All sample css; will be reworked */

.title {
    text-decoration: none;
    color: brown;
    background-color: cornflowerblue;
}

.text {
    background-color: cyan;
    font-style: italic;
}

text > p {
    font-style: italic;
    font-weight: bold;
}